
@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan+2&display=swap');

body, html{
    font-size: 12px;
        line-height: 15px;
        color: #223344;
        font-family: 'Baloo Chettan 2', cursive;
}
    #p1 {
        font-size: 8px;
        line-height: 15px;
        color: #4a6988;
      }
  
      #l1 { list-style-type: circle; }
.para {    font-size: 12px;
    line-height: 15px;
    color: #1a65b1;}

#sarah {text-align: right;}

#header1 {
    text-align: center;
    font-size: 40px;
    color: rgb(23, 107, 23);
} 


#bookshead {
    font-size: 40px;
    line-height: 15px;
    color: #5c0768;
    text-align: center;
    font-family: 'Baloo Chettan 2', cursive;
}

/* #bookul > li { list-style-image: url("lila_arrow.png"); 
list-style-position: inside;} */

#bookul > li {
    margin: 0;
	padding: 0.2cm 0 0.2cm 1.2cm;
	list-style: none;
	background-image: url("lila_arrow.png");
	background-repeat: no-repeat;
	background-position: left center;
    background-size: 40px;
    font-family: 'Baloo Chettan 2', cursive;
}

#bookbody {
    background-image: url("watercolour_trans40.png");
    background-position: center;
    background-size: cover;


}

#homebody {
    background-image: url(watercolor-1317812.jpg);
    background-position: center;
    background-size: cover;

}